<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Web Test Suite for git change for remote" parallel="methods">
  <test thread-count="2" name="Web Tests" parallel="methods">
    <classes>
      <class name="com.jakartalabs.assignment2may2021.tests.AppTest"/>
    </classes>
  </test> <!-- Web Tests -->
</suite> <!-- Web Test Suite -->
